[Desktop Entry]
Encoding=UTF-8
Name=syanot
Icon=syanot
Type=Application
DocPath=syanot/syanot.html
Comment=A Syntatctic Analysis Annotation tool for KDE
Terminal=false
